.tb_home_full_page{
    background-color: #1f2837 ;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.tb_home_flex_container{
    background-color: #1f2837 ;
    color: #ffffff;
}

.tb_home_main_container{
    border: 1px solid blue;
}

.tb_home_header_text{
    border: 1px solid red;
    font-size: 2.5em;
}

.tb_home_subheader{
    color: #636a78;
}
.tb_home_number_input_card{
    color: #444444;
    min-height: 14em;
    margin-top: 7em;
}

.tb_home_mobile_input{
    margin-top: 2em;
}

.tb_home_div_send_otp{
    margin-top: 2em;
}

.tb_home_btn_send_otp{

}

.tb_home_div_verify_otp{
    margin-top: 1em;
}

.tb_home_otp_input{
    /* initially the display will be none for this property*/
    /*this will be enable once the ajax fucntion is called */
    display: none;
    border: 1px solid red;
}

.tb_home_resend_otp_link{

}

.tb_home_div_main_body{
    border: 1px solid mediumspringgreen;
    min-height: fit-content;
    height: 46.7em;
}

.tb_home_div_main_footer{
    border: 1px solid red;
}

.tb_home_div_main_footer p {
   display: inline-block;
   width: fit-content;
}

.tb_home_div_main_footer a {
    color: #ffffff;
}

.tb_home_msg_invalid_otp_err{
    /* initially the display will be none for this property*/
    color: #FF0000;
    display: none;
}

.tb_home_msg_resent_otp_wrn{
    /* initially the display will be none for this property*/
    display: none;

}